@import "Base.css";

.root {
    -style-border-color: grey;
    -style-placeholder-color: #ccccce;
    -style-pane-background-color: #fefefe;
    -style-status-bar-color: #97d8c0;
    -style-menu-bar-color: #97d8c0;
    -style-background-color: #fefefe;
    -style-text-color: black;
    -style-inner-shadow: innershadow(three-pass-box, -style-border-color, 5, 0, 0, 0);

    -fx-font-family: "Sans serif";
    -fx-background-color: -style-background-color;
}

.list-cell:filled:even {
    -fx-background-color: #efd886;
    -fx-effect: innershadow(three-pass-box, derive(#efd886, -10%) , 4, 0, 0, 0);
}

.list-cell:filled:odd {
    -fx-background-color: #e8a690;
    -fx-effect: innershadow(three-pass-box, derive(#e8a690, -10%), 4, 0, 0, 0);
}

.list-cell:filled:selected {
    -fx-background-color: #0096ce;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #0096ce;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-wrap-text: true;
    -fx-text-fill: black;
}

.cell_small_label {
    -fx-font-family: -style-font-family;
    -fx-font-size: 13px;
    -fx-wrap-text: true;
    -fx-text-fill: black;
}