@import "Base.css";

.root {
    -style-background-color: #1e1e1e;
    -style-pane-background-color: #1e1e1e;
    -style-menu-bar-color: #3b3b3b;
    -style-status-bar-color: #3b3b3b;
    -style-border-color: #545454;

    -style-text-color: #cecece;
    -style-pane-text-color: #cecece;
    -style-placeholder-color: derive(#cecece, -20%);

    -style-inner-shadow: innershadow(three-pass-box, -style-border-color, 5, 0, 0, 0);
    -style-pane-shadow: dropshadow(three-pass-box, -style-border-color, 3, 0, 0, 0);
    -style-list-glow-shadow: dropshadow(three-pass-box, #3eb9cfc4, 19, 0, 0, 0);

    -fx-background-color: -style-background-color;
    -fx-font-family: sans-serif;
}

.list-cell:filled:even {
    -fx-background-color: #3b3b3b;
    -fx-effect: innershadow(three-pass-box, derive(#3b3b3b, -10%) , 4, 0, 0, 0);
}

.list-cell:filled:odd {
    -fx-background-color: #292929;
    -fx-effect: innershadow(three-pass-box, derive(#292929, -10%), 4, 0, 0, 0);
}

.list-cell:filled:selected {
    -fx-background-color: #0096ce;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #0096ce;
    -fx-text-fill: -style-placeholder-color;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-wrap-text: true;
    -fx-text-fill: -style-text-color;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-wrap-text: true;
    -fx-text-fill: -style-text-color;
}

/* Overrides the settings in Base.css. */
#commandTextField {
    -fx-background-color: #0d0d0d;
    -fx-text-fill: #ccccce;
}

.result-display {
    -fx-border-color: transparent;
    -fx-text-fill: -style-text-color;
}

#resultDisplay .content {
    -fx-background-color: #0d0d0d;
}

.scroll-bar {
    -fx-background-color: derive(-style-pane-background-color, 30%);
}

.scroll-bar .thumb {
    -fx-background-color: -style-pane-background-color;
    -fx-background-insets: 3;
}

.cell_lesson_label_odd {
     -fx-border-style: solid inside;
     -fx-border-radius: 8;
     -fx-border-width: 8;
     -fx-border-color: #B2C1D3;
     -fx-background-color: #B2C1D3;
     -fx-background-radius: 8;
}

.cell_lesson_label_even {
    -fx-border-style: solid inside;
    -fx-border-radius: 8;
    -fx-border-width: 8;
    -fx-border-color: #A0ADBD;
    -fx-background-color: #A0ADBD;
    -fx-background-radius: 8;
}
