@import "Base.css";

.root {
    -style-border-color: grey;
    -style-placeholder-color: derive(#cecece, -20%);
    -style-pane-background-color: #1e1e1e;
    -style-status-bar-color: #1f1f1f;
    -style-menu-bar-color: #1f1f1f;
    -style-background-color: #1e1e1e;
    -style-text-color: #cecece;
    -style-inner-shadow: innershadow(three-pass-box, white, 5, 0, 0, 0);

    -fx-font-family: "Sans serif";
    -fx-background-color: -style-background-color;
}

.list-cell:filled:even {
    -fx-background-color: #1e1e1e;
    -fx-effect: innershadow(three-pass-box, derive(#1e1e1e, -10%) , 4, 0, 0, 0);
}

.list-cell:filled:odd {
    -fx-background-color: #292929;
    -fx-effect: innershadow(three-pass-box, derive(#292929, -10%), 4, 0, 0, 0);
}

.list-cell:filled:selected {
    -fx-background-color: #0096ce;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #0096ce;
    -fx-text-fill: -style-placeholder-color;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-wrap-text: true;
    -fx-text-fill: -style-text-color;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-wrap-text: true;
    -fx-text-fill: -style-text-color;
}

/* Overrides the settings in Base.css. */
#commandTextField {
    -fx-background-color: -style-pane-background-color;
    -fx-text-fill: #ccccce;
}

.result-display {
    -fx-border-color: transparent;
    -fx-text-fill: -style-text-color;
}

#resultDisplay .content {
    -fx-background-color: -style-pane-background-color;
}