@import "Base.css";

.root {
    -fx-font-family: "Sans serif";
    -style-border-color: #f0e7e3;
    -style-placeholder-color: #ccccce;
    -style-pane-background-color: #fefefe;
    -style-status-bar-color: #744622;
    -style-menu-bar-color: derive(#744622, -10%);
    -style-background-color: white;
    -style-text-color: white;
    -style-inner-shadow: innershadow(three-pass-box, -style-border-color, 5, 0, 0, 0);
}

.list-cell:filled:even {
    -fx-background-color: #b5dccd;
    -fx-effect: innershadow(three-pass-box, derive(#b5dccd, -10%) , 4, 0, 0, 0);
}

.list-cell:filled:odd {
    -fx-background-color: #a87550;
    -fx-effect: innershadow(three-pass-box, derive(#a87550, -10%), 4, 0, 0, 0);
}

.list-cell:filled:selected {
    -fx-background-color: #f0e7e3;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #f0e7e3;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-wrap-text: true;
    -fx-text-fill: #392313;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-wrap-text: true;
    -fx-text-fill: #392313;
}